<% include partials/header.ejs%>
<% include partials/navbarlanding.ejs%>

<div>
	<div class="container center_container">
		<h1 class="heading">Stack Note</h1>

		<p>Because your time matters!</p>

		<a class="btn btn-outline-primary" href="/notes">Your Stack Notes</a>
	</div>
</div>

<% include partials/footer.ejs%>