#delete-form {
	display : inline;
}

.notes {
	padding : 10px;
}

.text-center {
	text-align : center;
}

#wrap {
	background-image : url("../landing_image.jpg");
	background-position : center;
	background-repeat : no-repeat;
	background-attachment : fixed;
	background-size : cover;
}

.center_container {
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 80vh;
}

.heading {
	text-decoration: underline;
	margin-bottom : 0px; 
}